body{
  background-image: url('bav.jpg');
  background-position: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

.head{
  display: flex;
  position:  absolute;
  background: rgba(0, 0, 0, 0.1);
  padding: 50px 1000px;
}
.Essen{
  display: flex;
  position: absolute;
  color: white;
  font-family: monospace;
  font-size: 40px;
  top: 2px;
  left: 112px;
}

.logo{
  display: flex;
  position: absolute;
  top: 22px;
  left: 7px;
}



.Home{
  display: flex;
  position: absolute;
  text-decoration: none;
  top: 40px;
  left: 1112px;
  background-color: transparent;
  color: white;
  font-family: monospace;
  font-size: 20px;
  border: 2px solid  white;
  border-radius: 20px;
  padding: 5px 20px;
}

.Books{
  display: flex;
  position: absolute;
  text-decoration: none;
  left: 1230px;
  top: 40px;
  background-color: transparent;
  color: white;
  font-family: monospace;
  font-size: 20px;
  border: 2px solid white;
  border-radius: 20px;
  padding: 5px 20px;
}

.Recipe{
  display: flex;
  position: absolute;
  text-decoration: none;
  left: 1350px;
  top: 40px;
  background-color: transparent;
  color: white;
  font-family: monospace;
  font-size: 20px;
  border: 2px solid white;
  border-radius: 20px;
  padding: 5px 20px;
}



.Home:hover{
  background-color: rgba(7, 7, 7, 0.186);
  color: black;
}

.Books:hover{
  background-color: rgba(7, 7, 7, 0.186);
  color: red;
}

.Recipe:hover{
  background-color: rgba(7, 7, 7, 0.186);
  color: yellow;
}









.content {
  background-color:rgba(255,255,255,.8);
  border-radius:.25em;
  box-shadow:0 0 .25em rgba(0,0,0,.25);
  box-sizing:border-box;
  left:50%;
  padding:10vmin;
  position:fixed;
  text-align:center;
  top:50%;
  transform:translate(-50%, -50%);
  z-index: 0;
}


@keyframes slide {
  0% {
    transform:translateX(-25%);
  }
  100% {
    transform:translateX(25%);
  }
}





.column {
  display: flex;
  flex-direction: row;
  justify-content: flex-start; 
  align-items: center; 
  gap: 40px;
  position: absolute;
  top: 250px;
  left: 30px;
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
  font-family: monospace;
  font-size: 20px;
}


@media screen and (max-width: 650px) {
  .column {
    width: 25%;
    display: block;
  }
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0);
  width: 250%;
  height: auto; 
  padding: 20px; 
  color: white; 


  padding: 0 16px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: whitesmoke;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 110%; 
}

.button:hover {
  background-color: whitesmoke;
  color: black;
}

.firstcard{
  display: flex;
  justify-content: flex-start; 
  align-items: center; 
  gap: 280px; 
  width: 100%; 
  position: relative; 
  z-index: 2;
}

.button{
  background-color: transparent;
  border: 2px solid white;
  border-radius: 20px;
}

