body{
  background-image: url('Nacht.jpg');
  background-position: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

.head{
  display: flex;
  position: fixed;
  background: rgba(0, 0, 0, 0.1);
  padding: 50px 1000px;
}
.Essen{
  display: flex;
  position: absolute;
  color: white;
  font-family: monospace;
  font-size: 40px;
  top: 2px;
  left: 112px;
}

.logo{
  display: flex;
  position: absolute;
  top: 22px;
  left: 7px;
}

.Home{
  display: flex;
  position: absolute;
  text-decoration: none;
  top: 40px;
  left: 1112px;
  background-color: transparent;
  color: white;
  font-family: monospace;
  font-size: 20px;
  border: 2px solid  white;
  border-radius: 20px;
  padding: 5px 26px;
}

.About{
  display: flex;
  position: absolute;
  text-decoration: none;
  left: 1230px;
  top: 40px;
  background-color: transparent;
  color: white;
  font-family: monospace;
  font-size: 20px;
  border: 2px solid white;
  border-radius: 20px;
  padding: 5px 20px;
}

.Recipe{
  display: flex;
  position: absolute;
  text-decoration: none;
  left: 1350px;
  top: 40px;
  background-color: transparent;
  color: white;
  font-family: monospace;
  font-size: 20px;
  border: 2px solid white;
  border-radius: 20px;
  padding: 5px 20px;
}


.Home:hover{
  background-color: rgba(7, 7, 7, 0.186);
  color: black;
}

.About:hover{
  background-color: rgba(7, 7, 7, 0.186);
  color: red;
}

.Recipe:hover{
  background-color: rgba(7, 7, 7, 0.186);
  color: yellow;
}






.cards-container {
  display: flex;
  position: absolute;
  top: 100px;
  left: 100px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  width: 80%;
  max-width: 1200px;
  padding: 20px;
}

.card {
  display: inline-block;
  box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2);
  width: 250px;
  margin: 15px;
  text-align: center;
  background-color: rgba(95, 95, 95, 0.272); 
  color: white;
  border-radius: 8px;
  overflow: hidden;
  vertical-align: top;
  font-family: monospace;
}

.card img {
  width: 100%;
  height: auto;
}

.card-content {
  padding: 10px;
}

.card h3 {
  margin: 10px;
  font-size: 20px;
  font-family: monospace;
}

.card p {
  font-size: 20px;
  color: #faf6f6;
  font-family: monospace;
}

.card-button {
  display: block;
  width: 100%;
  padding: 8px 0;
  background-color: transparent;
  color: white;
  text-align: center;
  cursor: pointer;
  font-size: 16px;
  border: none;
  margin-top: 10px;
}

.card-button:hover {
  background-color: #333;
}

.Button1{
  background-color: transparent;
  color: white;
  font-family: monospace;
  font-size: 15px
  padding: 10px 20px;
  border: 2px solid white;
  border-radius: 30px;
  cursor: pointer;
}


.Button2{
  background-color: transparent;
  color: white;
  font-family: monospace;
  font-size: 15px
  padding: 10px 30px;
  border: 2px solid white;
  border-radius: 20px;
  cursor: pointer;
}


.Button3{
  background-color: transparent;
  color: white;
  font-family: monospace;
  font-size: 15px
  padding: 10px 30px;
  border: 2px solid white;
  border-radius: 20px;
  cursor: pointer;
}

.Button1:hover{
  background-color: rgba(7, 7, 7, 0.125);
  color: yellow;
}

.Button2:hover{
  background-color: rgba(7, 7, 7, 0.125);
  color: rgb(255, 0, 0);
}

.Button3:hover{
  background-color: rgba(7, 7, 7, 0);
  color: rgb(255, 251, 0);
}

.card:hover{
  background-color: rgba(7, 7, 7, 0.348)
}


