body{
  background-image: url('Vienna Travel.jpg');
  background-position: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

.head{
  display: flex;
  position: fixed;
  background: rgba(0, 0, 0, 0.1);
  padding: 50px 1000px;
}
.Essen{
  display: flex;
  position: fixed;
  color: white;
  font-family: monospace;
  font-size: 40px;
  top: 10px;
  left: 120px;
}

.logo{
  display: flex;
  position: fixed;
  top: 30px;
  left: 15px;
}



.Books{
  display: flex;
  position: absolute;
  text-decoration: none;
  top: 40px;
  left: 1112px;
  background-color: transparent;
  color: white;
  font-family: monospace;
  font-size: 20px;
  border: 2px solid  white;
  border-radius: 20px;
  padding: 5px 20px;
}

.About{
  display: flex;
  position: absolute;
  text-decoration: none;
  left: 1230px;
  top: 40px;
  background-color: transparent;
  color: white;
  font-family: monospace;
  font-size: 20px;
  border: 2px solid white;
  border-radius: 20px;
  padding: 5px 20px;
}

.Recipe{
  display: flex;
  position: absolute;
  text-decoration: none;
  left: 1350px;
  top: 40px;
  background-color: transparent;
  color: white;
  font-family: monospace;
  font-size: 20px;
  border: 2px solid white;
  border-radius: 20px;
  padding: 5px 20px;
}

.Books:hover{
  background-color: rgba(7, 7, 7, 0.186);
  color: black;
}

.About:hover{
  background-color: rgba(7, 7, 7, 0.186);
  color: red;
}

.Recipe:hover{
  background-color: rgba(7, 7, 7, 0.186);
  color: yellow;
}
.Food{
  display: flex;
  position: absolute;
  color: rgba(255, 255, 0, 0.856);
  font-family: monospace;
  font-size: 100px;
  top: 250px;
  left: 250px;
}


.For{
  display: flex;
  position: absolute;
  color: rgba(0, 0, 0, 0.856);
  font-family: monospace;
  font-size: 100px;
  top: 250px;
  left: 500px;
}

.The{
  display: flex;
  position: absolute;
  color: rgba(255, 0, 0, 0.856);
  font-family: monospace;
  font-size: 100px;
  top: 253px;
  left: 695px;
}

.Soul{
  display: flex;
  position: absolute;
  color: rgba(255, 255, 0, 0.856);
  font-family: monospace;
  font-size: 100px;
  top: 257px;
  left: 905px;
}
